h3, p, a {
	font-family: Helvetica,Arial,freesans,sans-serif; 
	color: #505050;
	line-height: 24px;
}

body {
	background-image: url("../img/orange_2100x_75y.png");
	background-repeat: no-repeat;
}

.columnHeader {
    text-align: center;
    margin: 0;
    font-family: "BOOK ANTIQUA", "Hoefler Text", Times New Roman, Times, serif;
}

.container {
	max-width: 800px; 
	margin: 0 auto;
}

.headline {
	color: #000;
	font-family: "BOOK ANTIQUA", "Hoefler Text", Times New Roman, Times, serif;
	letter-spacing: 3px;
}

.projects {
/*    width: 40%;*/
/*    display: inline-block;*/
    vertical-align: top;
    margin: 0 4%;
    margin-bottom: 18px;
}

.project {
	width: 100%; 
	position: relative;
	margin: 0; 
}

.project img {
	width: 100%; 
}

.project li {
	list-style-type: none;
}

.strong {
	font-weight: bold;
}

.projectHeadline {
    margin-bottom: 0;
}

.projectSubheadline {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*
@media (max-width: 720px) {
	.project span {
		display: block;
	}
	.project span .colon {
		display: none; 
	}
}
*/

@media (min-width: 500px) {
    .projects {
        display: inline-block;
        width: 40%;
    }
    .other {
        float: right;
    }
}