* {
  font-family: "Mars Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #505050;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.subheadline {
  text-align: center;
  font-weight: normal;
  font-size: 1.5vw;
}

/* .list-heading {
  color: #E51636;
} */

#singular {
  display: none;
}

.list-heading, .list-heading__link {
  font-family: "Gill Sans", sans-serif;
  color: #E51636;
  font-size: 1.8vw;
  text-align: center;
}

input.submit-button {
  font-family: "Gill Sans", sans-serif;
  font-size: 1.8vw;
  display: block;
  margin: 0 auto;
  padding: 1vw 2vw;
  border: none;
}
input.submit-button:hover {
  color: #77b7b7;
  text-decoration: underline;
  cursor: pointer;
}

#ingredient-filter {
  font-size: 1.5vw;
}

a:link {
    text-decoration-line: none;
}
a:hover {
    color: #77b7b7;
}

.headline {
  font-family: "Gill Sans", sans-serif;
  font-size: 3vw;
  font-weight: normal;
  letter-spacing: 1.5vw;
  text-align: center;
  color: #E51636;
}

.headline__link {
  color: #E51636;
}

.book-name {
  color: #77b7b7;
}

.the-word-from {
  display: none;
  text-align: center;
}

#container__result {
  margin-top: 3vw;
}

@media screen and (max-width: 450px) {
  .headline  {
    font-size: 7vw;
    letter-spacing: 2.5vw;
  }
  .subheadline  {
    font-size: 5vw;
  }
  .list-heading {
    font-size: 5vw;
  }
  #ingredient-filter {
    font-size: 5vw;
  }
  input.submit-button {
    font-size: 5vw;
  }
}
