.languageButton, .randomButton, .playPause, .skip {
    display: inline-block;
    padding: 4px 8px; 
    margin: 2px; 
    background-color: #e0e0e0;
    cursor: pointer;
}

.playPause {
    width: 50px;
}

.selected {
    background-color: #F49C54;
}

.hidden {
    display: none;
}

h2, h3, p, div {
    font-family: Helvetica, Arial, freesans, sans-serif;
    color: #505050;
    line-height: 24px;
}

.songTitle {
    letter-spacing: 1px;
    font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
}

.songLanguage {
    letter-spacing: 3px;
    text-transform: uppercase;
}

div {
/*    line-height: 48px;*/
}

.container {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
}

.loading {
    text-align: left;
    margin-left: 48%;
}